# Custom
/data.txt
src_bak/
*.bmp
PC/packages

# Icon resources
*.ico~
*.kra~

# Python
__pycache__
.venv
/dist

# include
!vswhere.exe

# language server
__cmake*
/.cache
/*.json

# Visual Studio
/SuRun32.bin
*.map
*.exe
*.dll
UpgradeLog.htm
.vs
DebugUx64
ReleaseUx64
Debug
Release
x64
*.user
*.aps

# VS build
DebugUsr32/
InstallSuRun/SuRun32 Unicode Debug/
SuRunExt/DebugUsr32/

DebugU/
InstallSuRun.exe
InstallSuRun/x64 Unicode Debug/
ReleaseU/
ReleaseUsr32/
SuRunExt/DebugU/
SuRunExt/ReleaseU/
SuRunExt/ReleaseUsr32/
SuRunExt/x64 Unicode Release/
SuRunExt/x64 Unicode Debug/
x64 Unicode Debug/

# makefile build
/build*